@model IEnumerable<VGrad_Empty.Models.Project>

@{
    ViewBag.Title = "All Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Projects", htmlAttributes: new { @class = "btn btn-default right" })
</p>
<table class="table hoverable bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
