@model IEnumerable<VGrad_Empty.Models.OtherProject>

@{
    ViewBag.Title = "My Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Projects</h2>
For Authenticity purposes we can't allow students to add <b>Final Year Projects</b>, it could only be added by Compitent authority. Try contacting your Co-ordinator. 
<br/>
Meanwhile you can add your other projects you have done so far.
<p>
    @Html.ActionLink("Add More", "Create", "OtherProjects", htmlAttributes: new { @class = "btn btn-default right" })
</p>
<table class="table hoverable bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OtherProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OtherProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OtherProjectId })
        </td>
    </tr>
}

</table>
